docs/integrations/abandoned-cart-recovery-n8n.json
{
  "name": "CakeGenie - Abandoned Cart Recovery Workflow (CRUD)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "hours": 1,
              "minutes": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "schedule-trigger-id",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cakegenie_eligible_abandoned_carts",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "id": "supabase-get-eligible-carts-id",
      "name": "Get Eligible Carts",
      "credentials": {
        "supabaseApi": {
          "id": "replace-with-your-supabase-credential-id",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        450,
        0
      ],
      "id": "split-in-batches-id",
      "name": "Split In Batches"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "cakegenie_cart",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            },
            {
              "keyName": "expires_at",
              "condition": "gt",
              "keyValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        680,
        -100
      ],
      "id": "supabase-get-cart-items-id",
      "name": "Get Cart Items",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "replace-with-your-supabase-credential-id",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get cart items and user details\nconst cartItems = $input.all().map(item => item.json);\nconst userData = $('Split In Batches').item.json;\nconst emailType = userData.email_to_send;\nconst firstName = userData.first_name || 'Customer';\nconst recipientEmail = userData.recipient_email;\n\n// Helper function to format currency\nconst formatCurrency = (amount) => {\n  const num = parseFloat(amount) || 0;\n  return '₱' + num.toFixed(2).replace(/\\B(?=(\\d{3})+(?!\\d))/g, ',');\n};\n\n// Find the most recent item by created_at (since updated_at gets overwritten on email logs)\nconst sortedItems = cartItems\n  .filter(item => item.cart_item_id)\n  .sort((a, b) => new Date(b.created_at) - new Date(a.created_at));\n\nconst mostRecentItem = sortedItems[0];\n\nif (!mostRecentItem) {\n  return [{\n    json: {\n      sendEmail: false,\n      userId: userData.user_id,\n      emailType: emailType\n    }\n  }];\n}\n\n// Build cart items HTML and text for the single most recent item\nconst itemName = `${mostRecentItem.cake_size || '4\"'} ${mostRecentItem.cake_type || 'Round'}, ${mostRecentItem.cake_thickness || '2 in thickness'}`;\nconst qty = mostRecentItem.quantity || 1;\nconst price = parseFloat(mostRecentItem.final_price) || 0;\nconst subtotal = price * qty;\n\nconst imageUrl = mostRecentItem.customized_image_url || mostRecentItem.original_image_url || 'https://cqmhanqnfybyxezhobkx.supabase.co/storage/v1/object/public/cakegenie/placeholder-cake.jpg';\nconst flavor = mostRecentItem.customization_details?.flavors?.[0] || mostRecentItem.customization_details?.flavor || 'Custom flavor';\n\nconst itemsHtml = `\n<tr>\n  <td style=\"padding: 12px; border-bottom: 1px solid #ddd;\">\n    <div style=\"display: flex; align-items: center;\">\n      <img src=\"${imageUrl}\" alt=\"Cake design\" style=\"width: 80px; height: 80px; object-fit: cover; border-radius: 8px; margin-right: 12px; display: block;\" />\n      <div>\n        <strong>${itemName}</strong>\n        <br><small style=\"color: #666;\">Flavor: ${flavor}</small>\n      </div>\n    </div>\n  </td>\n  <td style=\"padding: 12px; border-bottom: 1px solid #ddd; text-align: center;\">${qty}</td>\n  <td style=\"padding: 12px; border-bottom: 1px solid #ddd; text-align: right;\">${formatCurrency(price)}</td>\n  <td style=\"padding: 12px; border-bottom: 1px solid #ddd; text-align: right;\">${formatCurrency(subtotal)}</td>\n</tr>`;\n\nconst itemsText = `${itemName} x ${qty} - ${formatCurrency(subtotal)}\\n`;\n\n// 20% discount calculations (18hr email only)\nconst DISCOUNT_CODE = 'NEW20';\nconst DISCOUNT_RATE = 0.20;\nconst discountAmount = subtotal * DISCOUNT_RATE;\nconst discountedTotal = subtotal - discountAmount;\n\n// Tailor email copy based on type (100 min vs 18 hour)\nconst isFirstEmail = emailType === '100_min';\n\nconst subject = isFirstEmail\n  ? `✨ We've saved your custom cake design, ${firstName}! ✨`\n  : `🎉 ${firstName}, here's 20% off your saved cake — use code NEW20!`;\n\nconst headerTitle = isFirstEmail\n  ? `Your custom design is waiting!`\n  : `Here's 20% off — just for you, ${firstName}! 🎉`;\n\nconst introductoryCopy = isFirstEmail\n  ? `We noticed you left some custom creations in your cart. Your dream cake is still saved and ready for you to complete!`\n  : `We noticed you still have a custom cake waiting in your cart. We'd love to make it a little sweeter — enjoy 20% off your order when you check out today!`;\n\n// Discount banner HTML (18hr only)\nconst discountBannerHtml = isFirstEmail ? '' : `\n<div style=\"background: linear-gradient(135deg, #ff6b6b 0%, #ee5a24 100%); border-radius: 12px; padding: 24px; text-align: center; margin: 24px 0;\">\n  <p style=\"margin: 0 0 6px; color: #fff; font-size: 14px; letter-spacing: 1px; text-transform: uppercase; font-weight: 600;\">⏰ Limited-Time Offer</p>\n  <p style=\"margin: 0 0 12px; color: #fff; font-size: 28px; font-weight: 900;\">20% OFF YOUR ORDER</p>\n  <p style=\"margin: 0 0 16px; color: rgba(255,255,255,0.9); font-size: 15px;\">Use this code at checkout:</p>\n  <div style=\"display: inline-block; background: #fff; border-radius: 8px; padding: 12px 28px; margin-bottom: 16px;\">\n    <span style=\"font-size: 26px; font-weight: 900; color: #ee5a24; letter-spacing: 4px;\">NEW20</span>\n  </div>\n  <table style=\"width: 100%; border-top: 1px solid rgba(255,255,255,0.3); margin-top: 16px; padding-top: 16px;\">\n    <tr>\n      <td style=\"padding: 6px 0; color: rgba(255,255,255,0.85); font-size: 14px; text-align: left;\">Original subtotal</td>\n      <td style=\"padding: 6px 0; color: rgba(255,255,255,0.85); font-size: 14px; text-align: right; text-decoration: line-through;\">${formatCurrency(subtotal)}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 6px 0; color: #ffe066; font-size: 14px; text-align: left;\">Your 20% discount (NEW20)</td>\n      <td style=\"padding: 6px 0; color: #ffe066; font-size: 14px; text-align: right; font-weight: bold;\">- ${formatCurrency(discountAmount)}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px 0 0; color: #fff; font-size: 18px; font-weight: 900; text-align: left; border-top: 1px solid rgba(255,255,255,0.3);\">You pay</td>\n      <td style=\"padding: 8px 0 0; color: #fff; font-size: 18px; font-weight: 900; text-align: right; border-top: 1px solid rgba(255,255,255,0.3);\">${formatCurrency(discountedTotal)}</td>\n    </tr>\n  </table>\n</div>`;\n\n// Discount text block (18hr only)\nconst discountTextBlock = isFirstEmail ? '' : `🎉 EXCLUSIVE DISCOUNT FOR YOU 🎉\\n\\nUse code NEW20 at checkout to get 20% off!\\n\\nOriginal subtotal: ${formatCurrency(subtotal)}\\nYour 20% discount: - ${formatCurrency(discountAmount)}\\nYou pay: ${formatCurrency(discountedTotal)}\\n\\n`;\n\nconst ctaLabel = isFirstEmail ? '✨ Return and Checkout Now' : '🎉 Claim My 20% Off Now';\n\n// Build HTML email\nconst htmlContent = `<!DOCTYPE html><html><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width,initial-scale=1.0'><style>body{font-family:Arial,sans-serif;line-height:1.6;color:#333;margin:0;padding:0}.container{max-width:600px;margin:0 auto;padding:0}.logo-header{text-align:center;padding:30px 20px;background:#fff}.logo-header img{max-width:280px;height:auto;display:block;margin:0 auto}.header{background:linear-gradient(135deg,#667eea 0%,#764ba2 100%);color:white;padding:30px;text-align:center;border-radius:10px 10px 0 0}.content{background:#fff;padding:30px;border:1px solid #e0e0e0;border-top:none;border-radius:0 0 10px 10px}.section{margin:20px 0}.section-title{font-size:18px;font-weight:bold;color:#667eea;margin-bottom:10px;border-bottom:2px solid #667eea;padding-bottom:5px}.footer{text-align:center;padding:20px;color:#666;font-size:14px}.btn-primary{display:inline-block;padding:12px 24px;background:#667eea;color:#ffffff !important;text-decoration:none;font-weight:bold;border-radius:8px;margin:20px 0;text-align:center}.btn-discount{display:inline-block;padding:14px 32px;background:linear-gradient(135deg,#ff6b6b 0%,#ee5a24 100%);color:#ffffff !important;text-decoration:none;font-weight:900;border-radius:8px;margin:20px 0;text-align:center;font-size:16px}</style></head><body><div class='container'><div class='logo-header'><img src='https://cqmhanqnfybyxezhobkx.supabase.co/storage/v1/object/public/landingpage/new%20genie%20logo%20long.jpg' alt='Genie.ph'></div><div class='header'><h1 style='margin:0;font-size:26px'>${headerTitle}</h1></div><div class='content'><p>Hi <strong>${firstName}</strong>,</p><p>${introductoryCopy}</p>${discountBannerHtml}<div class='section'><div class='section-title'>🎂 Saved in Your Cart</div><table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\"><thead><tr style=\"background-color: #f8f9fa;\"><th style=\"padding: 12px; border-bottom: 2px solid #dee2e6; text-align: left;\">Item Details</th><th style=\"padding: 12px; border-bottom: 2px solid #dee2e6; text-align: center; width: 80px;\">Qty</th><th style=\"padding: 12px; border-bottom: 2px solid #dee2e6; text-align: right; width: 100px;\">Price</th><th style=\"padding: 12px; border-bottom: 2px solid #dee2e6; text-align: right; width: 100px;\">Total</th></tr></thead><tbody>${itemsHtml}</tbody><tfoot><tr><td colspan=\"3\" style=\"padding: 12px; text-align: right; font-weight: bold; border-top: 2px solid #dee2e6;\">Estimated Subtotal:</td><td style=\"padding: 12px; text-align: right; font-weight: bold; border-top: 2px solid #dee2e6; color: #28a745;\">${formatCurrency(subtotal)}</td></tr></tfoot></table></div><div style=\"text-align: center;\"><a href=\"https://genie.ph/cart\" class=\"${isFirstEmail ? 'btn-primary' : 'btn-discount'}\" style=\"color:#ffffff !important;\">${ctaLabel}</a></div><div style='background:#f8f9fa;padding:20px;border-radius:8px;margin:20px 0'><p style='margin:0;font-size:14px;color:#666'><strong>Need assistance?</strong><br>If you run into any issues checking out or have questions about customized designs, reply to this email or contact us at <strong>09089408747</strong>.</p></div><p style='text-align:center;color:#666;margin:0'>From the Genie.ph Team</p></div><div class='footer'><p>This email was sent to ${recipientEmail} because you have items in your Genie.ph cart.</p><p>© 2025 Genie.ph - Making celebrations magical, one cake at a time ✨</p></div></div></body></html>`;\n\nconst textContent = `${isFirstEmail ? '✨ YOUR SAVED CART AT GENIE.PH ✨' : '🎉 20% OFF YOUR SAVED CAKE AT GENIE.PH 🎉'}\\n\\nHi ${firstName},\\n\\n${introductoryCopy}\\n\\n${discountTextBlock}🎂 Items in Your Cart:\\n${itemsText}\\nEstimated Subtotal: ${formatCurrency(subtotal)}\\n\\n${isFirstEmail ? '' : 'Apply code NEW20 at checkout to save ' + formatCurrency(discountAmount) + ' — you pay only ' + formatCurrency(discountedTotal) + '.\\\\n\\\\n'}Return to your cart to check out here: https://genie.ph/cart\\n\\nNeed Help?\\nReply directly to this email or call us at 09089408747.\\n\\nFrom the Genie.ph Team`;\n\nreturn [{\n  json: {\n    sendEmail: true,\n    recipientEmail: recipientEmail,\n    recipientName: firstName,\n    subject: subject,\n    htmlContent: htmlContent,\n    textContent: textContent,\n    userId: userData.user_id,\n    emailType: emailType\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        -100
      ],
      "id": "js-format-emails-id",
      "name": "Format Abandoned Email"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.sendEmail }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        -100
      ],
      "id": "should-send-email-id",
      "name": "Should Send Email?"
    },
    {
      "parameters": {
        "from": "Genie PH <orders@mail.genie.ph>",
        "to": "={{ $json.recipientEmail }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.htmlContent }}",
        "text": "={{ $json.textContent }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-resend.resend",
      "typeVersion": 1,
      "position": [
        1340,
        -150
      ],
      "id": "send-email-resend-id",
      "name": "Send Email",
      "credentials": {
        "resendApi": {
          "id": "bPZBGsOCdbp0ZT76",
          "name": "Resend account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-100min",
              "leftValue": "={{ $('Format Abandoned Email').item.json.emailType }}",
              "rightValue": "100_min",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1560,
        -150
      ],
      "id": "is-100-min-email-id",
      "name": "Is 100 Min Email?"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cakegenie_cart",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Format Abandoned Email').item.json.userId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "email_100_min_sent_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1800,
        -250
      ],
      "id": "supabase-log-100min-id",
      "name": "Log 100 Min Email",
      "credentials": {
        "supabaseApi": {
          "id": "replace-with-your-supabase-credential-id",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cakegenie_cart",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Format Abandoned Email').item.json.userId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "email_18_hour_sent_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1800,
        -50
      ],
      "id": "supabase-log-18hour-id",
      "name": "Log 18 Hour Email",
      "credentials": {
        "supabaseApi": {
          "id": "replace-with-your-supabase-credential-id",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Eligible Carts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Eligible Carts": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Get Cart Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cart Items": {
      "main": [
        [
          {
            "node": "Format Abandoned Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Abandoned Email": {
      "main": [
        [
          {
            "node": "Should Send Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Email?": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Is 100 Min Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is 100 Min Email?": {
      "main": [
        [
          {
            "node": "Log 100 Min Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log 18 Hour Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log 100 Min Email": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log 18 Hour Email": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}